<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Us</title>
</head>
<body>
    <form action="/join" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="Your name">
        <input type="text" name="lastname" placeholder="Your name">
        <input type="text" name="college" placeholder="Your college" >
        <input type="text" name="county" placeholder="Your county" >
        <input type="text" name="phonenumber" placeholder="+254...." >
        <input type="submit" value="Join us">
    </form>
</body>
</html>