<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>campus ministries | gallery</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
      <!-- responsive-->
      <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
      <!-- awesome fontfamily -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      {% comment %} favicon {% endcomment %}
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/images/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/images/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/images/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'core/images/site.webmanifest' %}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <style>
        /* Three image containers (use 25% for four, and 50% for two, etc) */

          

          
          div.gallery img {
            width: 100%;
           
          }
          
          div.desc {
            padding: 15px;
            text-align: center;
          }
          
          * {
            box-sizing: border-box;
          }
          
          .responsive {
            padding: 0 6px;
            float: left;
            width:50%;
          }
          
          @media only screen and (max-width: 700px) {
            .responsive {
              width: 49.99999%;
              margin: 6px 0;
            }
          }
          
          @media only screen and (max-width: 500px) {
            .responsive {
              width: 100%;
            }
          }
          
          .clearfix:after {
            content: "";
            display: table;
            clear: both;
          }
          .now{
                font-size: 14px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                line-height: 1.80857;
                font-weight: normal;
                background: url(../images/bg1.avif); 
                background-position: center;
                background-repeat: no-repeat;
          }
          .img{
            border-radius: 10px;

          }
          .desc{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
          .title{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
          }
          
          .head-tag{
            overflow: hidden;
          }
          
          @media screen (min-width:998px) {
            nav{
              display:none;
            }
          }
      </style>
   </head>
   <!-- body -->
   <body class="main-layout inner_page now">
      <!-- loader  -->
      <div class="loader_bg">
        <div class="loader"><img src="{% static 'core/images/loading.gif' %}" alt="" /></div>
      </div>
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <a  href="{%url 'core:home'%}">Home</a>
         <a href="{%url 'core:devotion'%}">weekly devotions</a>
         <a href="{%url 'core:events'%}">Events</a>
         <a href="{%url 'core:gallery'%}" class="active">Gallery</a>
      </div>
      <!-- nav -->
      <nav class="navbar navbar-expand-lg">
        <div class="m-2">
          <a class="navbar-brand " href="/">campus ministry</a>
          <button class="" type="button" aria-controls="navbarSupportedContent" onclick="openNav()" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
            <img src="{% static 'core/images/menu_btn.png' %}" class="text-right" id="icon">
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-" aria-current="page" href="{% url 'core:home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'core:events' %}">Events</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link " href="{% url 'core:devotion' %}">Weekly Devotion</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" class="active" href="{% url 'core:gallery' %}">Gallery</a>
               </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="py-2 images">
        <div class="container text-center align-items-center justify-content-center  ">
          <h3 class="heading mb-sm-5 mb-4 text-center read_more ml-3"> Our gallery</h3>
          <img src="{% static 'core/images/logocm2.png' %}" width="150px" height="150px">
        </div>
      </section>
      <section>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/17.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>
          
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/18.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/19.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/20.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/21.jpeg' %}" class="img-fluid" alt="" />
                </div>
                </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/22.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>
            
              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/23.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/1.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/2.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/3.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/4.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/5.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/6.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/7.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/8.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/9.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/10.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/11.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/12.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/13.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/14.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="{% static 'core/images/15.jpeg' %}" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>    
      </section>
      {% comment %} <div class="end bg-dark">
            <div class="col-md-4">
                <a href="{%url 'core:home'%}" class="text-light m-2 p-2">Home</a>
                <a href="{%url 'core:events'%}" class="text-light m-2 p-2">Events</a>
                <a href="{%url 'core:devotion'%}" class="text-light m-2 p-2">Devotions</a>
                <a href="{%url 'core:donate'%}" class="text-light m-2 p-2">Donate</a>
            </div>
            <div class="col-md-8">
              <ul>
                <li class="text-light">call us:&nbsp;&nbsp;  +254.....</li>
                <li class="text-light">Email us at: &nbsp; &nbsp; contact@elckcampus.org</li>
                <li class="text-light">location: </li>
                <p>© <script>document.write(new Date().getFullYear());</script></p>
              </ul>
            </div>
      </div> {% endcomment %}
      <footer>
        <div class="footer">
           <div class="container">
              <div class="row">
                 <div class="col-md-8 offset-md-2">
                    <h3>Follow Us</h3>
                    <ul class="social_icon text_align_center">
                       <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                       <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                       <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                       <li> <a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                       <li> <a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="conta text_align_center">
                       <ul>
                          <li> <a href="Javascript:void(0)"><img src="{% static 'core/images/call.png' %}" alt="#"/>Call :+254713378817
                             </a>
                          </li>
                          <li> <a href="Javascript:void(0)"><img src="{% static 'core/images/mall.png' %}" alt="#"/> contact@elckcampus.org
                             </a>
                          </li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-8 offset-md-2">
                    <div class="menu_bottom text_align_center">
                       <ul>
                          <li><a href="{%url 'core:home'%}">Home</a></li>
                          <li><a href="{%url 'core:events'%}">Events</a></li>
                          <li><a href="{%url 'core:devotion'%}">Devotions</a></li>
                          <li><a href="{%url 'core:gallery'%}">gallery</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
           <div class="copyright text_align_center">
              <div class="container">
                 <div class="row">
                    <div class="col-md-8 offset-md-2">
                       <p>© <script>document.write(new Date().getFullYear());</script> All Rights Reserved.</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>

      <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="{% static 'core/js/custom.js' %}"></script>
   </body>
</html>